.container {
  overflow-x: hidden;
  position: relative;

  .innerContainer {
    position: absolute;
    transition: left;
    transition-duration: 250ms;
    transition-timing-function: ease-in;

    > * {
      float: left;
    }
  }
}
